@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Oleo+Script+Swash+Caps:wght@400;700&family=Satisfy&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/*Root*/
:root {
    --primary-color: #021832;
    --secondary-color: #a3a190;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --primary-font: "Cormorant Garamond", serif;
    --secondary-font: "EB Garamond", serif;
    --primary-text: #0d1a2b;
    --secondary-text: white;
    --text-white: #fff;
    --text-black: #151515;
    --gold: #867051;
    --light-gold: #bd9b71;
    --black: #20252d;
}
html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}
::selection {
    color: #af8941;
}
/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the entire scrollbar */
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
    /* Color of the scrollbar track */
    border-radius: 6px;
    /* Rounded corners */
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    /* Color of the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners */
    border: 2px solid var(--bg-color);
    /* Adds a border around the thumb to give some spacing */
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--gold);
    /* Color when hovered */
}
/* Firefox custom scrollbar */
html {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: var(--primary-color) var(--bg-color);
    /* Scrollbar thumb and track */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
a {
    color: inherit;
    text-decoration: none;
}
section {
    padding: 2.511rem 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
}
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*NavBar*/
.nav-link {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: color 0.3s ease-in-out;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    line-height: 3.333;
    letter-spacing: 2.9px;
    font-weight: 200;
    position: relative;
    line-height: 1.5;
    text-transform: uppercase;
}
.nav-item.active-link a {
    color: #d7bc47;
}
.nav-item.active-link .underline {
    width: 100%;
    background-color: #d7bc47;
}
.nav-item:hover .underline {
    background-color: #d7bc47;
    width: 100%;
}
.nav-link:focus {
    color: unset;
}
.nav-item {
    padding-top: 10px;
}
.nav-item:hover a {
    color: #d7bc47;
}
.nav-item:active a {
    transition: none;
}
.nav-item:active .underline {
    transition: none;
    background-color: #d7bc47;
}
.navbar-nav {
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
}
.navbar {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-toggler {
    background-color: #d7bc47;
    color: transparent !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:hover,
.navbar-toggler:active {
    border-color: #d7bc47 !important;
    background-color: #d7bc47;
    color: transparent !important;
}
.btn-3 {
    overflow: hidden;
}
/*Index-Home*/
#home-owl .owl-carousel .item {
    background-size: cover;
    background-position: center;
    height: 85vh;
}
.provaa {margin-top: 25px;}
#home-owl .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: 50px;
}
.ot3 {
    font-size: 40px;
}
.ot1 {
    font-size: 55px;
}
.lower-content{margin-top: 20px;}
/*Index-About*/
.sec-title .sub-title {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Lobster', cursive !important;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #d7bc47;
}
.sec-title h2 {
    position: relative;
    display: block;
    font-size: 28px;
    line-height: 60px;
    margin: 0px;
    font-family: "EB Garamond", serif;
    letter-spacing: 2.9px;
    font-weight: 200;
    position: relative;
    text-transform: uppercase;
}
.sec-title {
    position: relative;
    display: block;
    margin: 40px 0 40px 0;
}
.content-box-text h3 {
    display: block;
    font-size: 30px;
    line-height: 40px;
    color: #d7bc47;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
}
/*Index-Rooms*/
html body main section.container.facilities.mb-5 div.row div.col-md-4 div.facility div section.container h3{text-align: center;}
/*Index-Gallery*/
.gallery .slide {
    height: 30rem;
    position: relative;
    overflow: hidden;
}
.gallery .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .slide .icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.gallery .slide .icon i {
    font-size: 3.5rem;
    color: white;
}
.gallery .slide:hover .icon {
    display: flex;
}
/*Index - Ameneties*/
.facilities h2 {
    font-weight: 500;
}
.facility i {
    font-size: 3rem;
    color: #d7bc47;
    position: relative;
    bottom: -25px;
    text-align: center;
}
.facility div,
.facility div h2,
.facility div p,
facility i {
    transition: .3s ease-in-out;
}
.facility:hover i:not(:hover) {
    color: #35302D;
}
.facility div:hover {
    background-color: #d7bc47;
    color: #fff;
}
.facilities i div:hover {
    color: #fff;
}
.facility div:hover p {
    color: #fff;
}
.facility div {
    padding: 3rem 0;
    background-color: #F6F6F6;
}
.facility h3 {
    font-weight: 600;
}
.facility p {
    margin-top: 1rem;
    color: #4F5655;
    font-size: 22px;
}
#about.container div.row div.col-md-7 div.content h1 {
    font-family: 'Lora';
    font-size: 85px;
    color: #f1f1f1;
    margin: 0;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 500;
}
/*Index-Testimonials*/
.jumbotron {
    background: url(assets/image/10.jpg) rgba(0, 0, 0, .3);
    background-position-x: 0%;
    background-position-y: 0%;
    background-attachment: scroll;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    height: fit-content;
    padding: 5rem 0;
    color: #F9F2DC;
}
.review-section {
    padding: 3rem 3rem 0 3rem;
    background-color: rgba(0, 0, 0, .3);
}
.pb-0 {
    padding-bottom: 0px !important;
}
.fs-22 {
    font-size: 22px;
}
.fa-star {
    color: gold;
}
/*About Us*/
#about-head {
    background: url(assets/image/14.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.about .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}
.abp {
    font-size: 20px;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}
/*Gallery*/
#gallery-head {
    background: url(assets/image/41.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.s-gallery {
    padding-top: 0px;
}
.s-gallery .gallery-main .gallery-box {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 15px;
}
.s-gallery .gallery-main .gallery-box:hover .content {
    height: 100%;
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.s-gallery .gallery-main .gallery-box:hover {
    transform: translateY(10px);
}
.s-gallery .gallery-main .gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgg1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.imgg2 {
    height: 96%;
}
/*Rooms*/
#rooms-head {
    background: url(assets/image/2.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.room-details {
    position: relative;
    padding: 50px 0px 100px 0px;
}
.room-details .sidber-details .rating {
    display: contents;
}
.rooms-section .rating li {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    font-size: 13px;
    color: #c9a76e;
}
.room-details .sidber-catagories .sidber-title {
    position: relative;
    font-size: 30px;
    font-family: 'Vollkorn', sans-serif;
    text-align: center;
    line-height: 35px;
    color: #333;
    font-style: italic;
    margin-bottom: 25px;
}
.details-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.icon-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 45%;
    transition: background-color 0.3s, color 0.3s;
}
.detail-item i {
    font-size: 20px;
    margin-bottom: 5px;
    transition: color 0.3s;
}
.detail-item span {
    text-align: center;
    transition: color 0.3s;
}
.detail-item:hover {
    background-color: #d7bc47;
    color: #ffffff;
}
.detail-item:hover i {
    color: #ffffff;
}
.detail-item:hover span {
    color: #ffffff;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
header .navbar .prova {
    margin: 0;
    margin-left: 0px;
    margin-left: auto;
}
.details-button {
    padding: 15px 20px;
    background-color: #d7bc47;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.details-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.owl-prev,
.owl-next {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
}
.owl-prev {
    margin-left: 5px;
    color: white !important;
    font-size: 35px !important;
}
.owl-next {
    margin-right: 5px;
    color: white !important;
    font-size: 35px !important;
}
.lower-content .text {
    margin-top: 10px;
    font-size: 20px;
}
#room-gallery-1 .item img,
#room-gallery-2 .item img,
#room-gallery-6 .item img,
#room-gallery-7 .item img {
    height: 530px;
    width: 100%;
    object-fit: cover;
}
#room-gallery-3 .item img {
    height: 430px;
    width: 100%;
    object-fit: cover;
}
#room-gallery-4 .item img {
    height: 510px;
    width: 100%;
    object-fit: cover;
}
#room-gallery-5 .item img {
    height: 510px;
    width: 100%;
    object-fit: cover;
}
#room-gallery-1,
#room-gallery-2,
#room-gallery-3,
#room-gallery-4,
#room-gallery-5,
#room-gallery-6,
#room-gallery-7 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.amout i {
    margin: 0 10px;
    font-size: 18px;
}
.room_item-1 {
    position: relative;
}
.room_item-1 h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
}
.room_item-1 h2 a {
    color: #232323;
}
.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
.ot-heading h2 {
    letter-spacing: 1px;
    font: 700 36px 'Montserrat';
    margin-bottom: 15px;
    text-transform: uppercase;
}
.ot-heading .sub {
    font: 300 16px 'Hind';
    margin-bottom: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pl10 {
    padding-left: 10px;
}
.item.room-item {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 30px;
    border-color: #e1e1e1;
}
.accomd-modations-room_1 {
    border: 1px solid #9a9a9a;
}
.accomd-modations-room_1 .img {
    position: relative;
}
.accomd-modations-room_1 .img a {
    display: inline-block;
    overflow: hidden;
}
.accomd-modations-room_1 .img img {
    width: 100%;
}
.item.room-item .title {
    padding: 15px 0 5px 0;
}
.item.room-item .title a {
    font: 400 28px 'Montserrat';
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
}
.item.room-item .info p {
    display: inline-block;
    max-width: 80px;
    margin: 0 20px;
}
.item.room-item .info p .number {
    font: 300 24px 'Montserrat';
}
.item.room-item .info p span {
    font: 300 12px 'Montserrat';
    display: block;
}
.butttonrooms {
    margin: 35px 0 35px 0;
}
/*General*/
.row-20 {
    margin-left: -20px;
    margin-right: -20px;
}
.pt80 {
    padding-top: 80px;
}
.pb30 {
    padding-bottom: 30px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb-60 {
    margin-bottom: 60px;
}
.ft40 {
    font-size: 40px;
    margin-top: -45px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-125 {
    margin-top: 125px;
}
.mt-225 {
    margin-top: 225px;
}
/*Button*/
/*Animation*/
.fadeinleft {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1.3s ease-out;
}
.fadeinright {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.8s ease-out;
}
.fadeindown {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
}
.fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
}
.fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
}
.active-left,
.active,
.active-right,
.active-down,
.active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}
.fadein {
    opacity: 0;
}
/*Contact*/
#contact-head {
    background: url(assets/image/304.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.tittle {
    text-align: center;
    position: relative;
    font-size: 55px;
    font-family: "Cinzel", serif;
    line-height: 75px;
    color: #000000;
    margin-bottom: 10px;
}
.subtittle {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-family: "Cinzel", serif;
    line-height: 55px;
    color: #000000;
    margin-bottom: 10px;
}
.contact-feature {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.0625);
    border-radius: 10px;
    background-color: #eae9e9;
    text-align: center;
    padding: 40px 5px;
}
.contact-feature div i.fas {
    font-size: 50px;
}
.contact-feature:hover div i.fas {
    transform: rotate(360deg);
    transition: transform 1.5s ease;
}
.box-title,
.contact-feature_text {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-family: "Cinzel", serif;
    line-height: 55px;
    color: #000000;
    margin-top: 10px;
}
.contact-map {
    width: 100%;
    height: 50vh;
    margin-bottom: -10px;
}
/*General Head Section*/
.mb-50 {
    margin-bottom: 50px;
}
#rooms-head h1,
#gallery-head h1,
#about-head h1,
#contact-head h1 {
    font-weight: 400;
    line-height: 84px;
    margin: 0;
    background: none;
    font-family: "Cinzel", serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 70px;
}
.breacrumd {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.breacrumd li {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 3px;
    letter-spacing: 2px;
}
.breacrumd::before {
    position: absolute;
    content: '';
    left: 545px;
    bottom: 0px;
    width: 200px;
    height: 1px;
    opacity: 0.60;
    background-color: white;
}
/** FOOTER **/
.footer {
    background: #1A1A1A;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.footer p {
    text-align: left;
    color: whitesmoke;
}
.footer h4 {
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: whitesmoke;
    margin-bottom: 15px;
    border-bottom: #ffffff solid 3px;
    padding-bottom: 3px;
    display: table;
}
.footer .logo a {
    justify-content: center !important;
    position: relative;
    text-decoration: none;
}
/* Contact List */
ul.conta {
    padding: 0;
}
ul.conta li {
    color: whitesmoke !important;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    list-style: none;
}
ul.conta li i {
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}
/* Link Menu */
ul.link_menu {
    padding: 0;
}
ul.link_menu li {
    display: block;
    text-align: left;
    transition: 0.5s;
}
ul.link_menu li a {
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    fill: whitesmoke;
}
ul.link_menu li.active a {
    color: #d7bc47;
}
ul.link_menu li a:hover {
    color: #d7bc47;
    transform: translate(10px);
}
.mbtt {
    margin-top: 25px;
}
/* Media Queries */
@media only screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
        width: 7px;
    }
    .ft40 {
        font-size: 30px;
        margin-top: -25px;
    }
    .carousel-caption {
        width: 100%;
    }
    .ot3 {
        font-size: 20px;
    }
    .ot1 {
        font-size: 35px;
    }
    .provaa {
        margin-top: 35px;
    }
    .mbtt {
        text-align: center;
        margin: 25px 0 25px 0;
    }
    #about.container div.row div.col-md-7 div.content h1 {
        font-size: 50px;
    }
    .footer h4 {
        text-align: center;
        display: inline-block;
    }
    #home-owl .owl-carousel .item {
        height: 70vh !important;
    }
    /*General Head*/
    #contact-head h1,
    #gallery-head h1,
    #rooms-head h1,
    #about-head h1 {
        margin-top: 100px;
    }
    #rooms-head h1,
    #gallery-head h1,
    #about-head h1,
    #contact-head h1 {
        font-size: 50px !important;
    }
    /*General*/
    .tittle {
        font-size: 45px !important;
    }
    .subtittle {
        font-size: 20px !important;
    }
    .pdr-0 {
        padding-right: 0px;
    }
    .mbr-0 {
        margin-right: 0px;
    }
    header .navbar .prova {
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        padding-top: unset;
    }
    .mt-40 {
        margin-bottom: 40px;
    }
    html body main div.jumbotron.jumbotron-fluid.d-flex.justify-content-center.align-items-center.text-center div.container section.review-section div.swiper.review-slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden div.swiper-button-prev.swiper-arrow,
    html body main div.jumbotron.jumbotron-fluid.d-flex.justify-content-center.align-items-center.text-center div.container section.review-section div.swiper.review-slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden div.swiper-button-next.swiper-arrow {
        display: none;
    }
    /*Gallery*/
    .s-gallery .gallery-main {
        flex-wrap: wrap;
    }
    /*Contact*/
    .contact-feature {
        margin-bottom: 25px;
    }
    /*Rooms*/
    @media (max-width: 768px) {
        .icon-row {
            flex-direction: column;
            align-items: center;
        }
        .detail-item {
            width: 90%;
            margin-bottom: 10px;
        }
        .detail-item i {
            font-size: 1.5em;
        }
        .details-button {
            padding: 15px 15px;
            font-size: 1em;
        }
        .button-container {
            margin: 25px 0 50px 0 !important;
        }
        #room-gallery-1 .item img,
        #room-gallery-2 .item img,
        #room-gallery-3 .item img,
        #room-gallery-4 .item img,
        #room-gallery-5 .item img,
        #room-gallery-6 .item img,
        #room-gallery-7 .item img {
            height: 300px !important;
        }
        .icon-row {
            margin-bottom: 0px !important;
        }
    }
    @media (max-width: 480px) {
        .detail-item {
            padding: 8px;
        }
        .detail-item i {
            font-size: 1.2em;
        }
        .details-button {
            padding: 15px 15px;
            font-size: 1em;
        }
    }
    .room-details {
        padding-bottom: 0px !important;
    }
    .mb-60 {
        margin-bottom: 0px !important;
    }
    /*Footer*/
    ul.conta li {
        text-align: center;
    }
    ul.link_menu li {
        text-align: center;
    }
}