@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Oleo+Script+Swash+Caps:wght@400;700&family=Satisfy&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/*Root*/
:root {
    --primary-color: #021832;
    --secondary-color: #a3a190;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --primary-font: "Cormorant Garamond", serif;
    --secondary-font: "EB Garamond", serif;
    --primary-text: #0d1a2b;
    --secondary-text: white;
    --text-white: #fff;
    --text-black: #151515;
    --gold: #867051;
    --light-gold: #bd9b71;
    --black: #20252d;
}

html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

::selection {
    color: #af8941;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-white);
}

::-webkit-scrollbar-thumb {
    background: var(--text-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    padding: 2.511rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*NavBar*/
.nav-link {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: color 0.3s ease-in-out;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    line-height: 3.333;
    letter-spacing: 2.9px;
    font-weight: 200;
    position: relative;
    line-height: 1.5;
    text-transform: uppercase;
}

.nav-item.active-link a {
    color: #d7bc47;
}

.nav-item.active-link .underline {
    width: 100%;
    background-color: #d7bc47;
}

.nav-item:hover .underline {
    background-color: #d7bc47;
    width: 100%;
}

.nav-item {
    padding-top: 10px;
}

.nav-item:hover a {
    color: #d7bc47;
}

.nav-item:active a {
    transition: none;
}

.nav-item:active .underline {
    transition: none;
    background-color: #d7bc47;
}

.navbar-nav {
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
}

.navbar {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    background-color: #d7bc47;
    color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover,
.navbar-toggler:active {
    border-color: #d7bc47 !important;
    background-color: #d7bc47;
    color: transparent !important;
}

.btn-3 {
    overflow: hidden;
}

/*Index-Home*/
/*Index-About*/
/*Index-Rooms*/
/*Index-Gallery*/
/*Index - Ameneties*/
/*Index-Testimonials*/
/*About Us*/
#about-head {
    background: url(assets/image/14.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

/*Gallery*/
#gallery-head {
    background: url(assets/image/2.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.s-gallery {
    padding-top: 0px;
}

.s-gallery .gallery-main .gallery-box {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 15px;
}

.s-gallery .gallery-main .gallery-box:hover .content {
    height: 100%;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.s-gallery .gallery-main .gallery-box:hover {
    transform: translateY(10px);
}

.s-gallery .gallery-main .gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgg1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.imgg2 {
    height: 96%;
}

/*Rooms*/
#rooms-head {
    background: url(assets/image/1.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

/*General*/
/*Button*/
/*Animation*/
.fadeinleft {
    opacity: 0;
    transform: translateX(200px);
    transition: all 1.3s ease-out;
}

.fadeinright {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.8s ease-out;
}

.fadeindown {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
}

.fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
}

.fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

.fadein {
    opacity: 0;
}

/*Contact*/
#contact-head {
    background: url(assets/image/4.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.tittle {
    text-align: center;
    position: relative;
    font-size: 65px;
    font-family: "Cinzel", serif;
    line-height: 75px;
    color: #000000;
    margin-bottom: 10px;
}

.subtittle {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-family: "Cinzel", serif;
    line-height: 55px;
    color: #000000;
    margin-bottom: 10px;
}

.contact-feature {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.0625);
    border-radius: 10px;
    background-color: #eae9e9;
    text-align: center;
    padding: 40px 5px;
}

.contact-feature div i.fas {
    font-size: 50px;
}

.contact-feature:hover div i.fas {
    transform: rotate(360deg);
    transition: transform 1.5s ease;
}

.box-title,
.contact-feature_text {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-family: "Cinzel", serif;
    line-height: 55px;
    color: #000000;
    margin-top: 10px;
}

.contact-map {
    width: 100%;
    height: 50vh;
    margin-bottom: -10px;
}

/*General Head Section*/
.mb-50 {
    margin-bottom: 50px;
}

#rooms-head h1,
#gallery-head h1,
#about-head h1,
#contact-head h1 {
    font-weight: 400;
    line-height: 84px;
    margin: 0;
    background: none;
    font-family: "Cinzel", serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 70px;
}

.breacrumd {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.breacrumd li {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 3px;
    letter-spacing: 2px;
}

.breacrumd::before {
    position: absolute;
    content: '';
    left: 545px;
    bottom: 0px;
    width: 200px;
    height: 1px;
    opacity: 0.60;
    background-color: white;
}

/** FOOTER **/
.footer {
    background: #1A1A1A;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.footer p {
    text-align: left;
    color: whitesmoke;
}

.footer h4 {
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: whitesmoke;
    margin-bottom: 15px;
    border-bottom: #ffffff solid 3px;
    padding-bottom: 3px;
    display: table;
}

.footer .logo a {
    justify-content: center !important;
    position: relative;
    text-decoration: none;
}

/* Contact List */
ul.conta {
    padding: 0;
}

ul.conta li {
    color: whitesmoke !important;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    list-style: none;
}

ul.conta li i {
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}

/* Link Menu */
ul.link_menu {
    padding: 0;
}

ul.link_menu li {
    display: block;
    text-align: left;
    transition: 0.5s;
}

ul.link_menu li a {
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    fill: whitesmoke;
}

ul.link_menu li.active a {
    color: #d7bc47;
}

ul.link_menu li a:hover {
    color: #d7bc47;
    transform: translate(10px);
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
        width: 7px;
    }

    .footer h4 {
        text-align: center;
        display: inline-block;
    }

    /*General Head*/
    #contact-head h1,
    #gallery-head h1,
    #rooms-head h1,
    #about-head h1 {
        margin-top: 100px;
    }

    #rooms-head h1,
    #gallery-head h1,
    #about-head h1,
    #contact-head h1 {
        font-size: 50px !important;
    }

    /*General*/
    .tittle {
        font-size: 45px !important;
    }

    .subtittle {
        font-size: 20px !important;
    }

    .pdr-0 {
        padding-right: 0px;
    }

    .mbr-0 {
        margin-right: 0px;
    }

    /*Gallery*/

    .s-gallery .gallery-main {
        flex-wrap: wrap;
    }

    /*Contact*/
    .contact-feature {
        margin-bottom: 25px;
    }

    /*Footer*/
    ul.conta li {
        text-align: center;
    }

    ul.link_menu li {
        text-align: center;
    }
}

.room-details{
    position: relative;
    padding: 110px 0px 130px 0px;
  }
  .room-details .sidber-details .img-box{
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 19px;
    border-radius: 5px;
  }
  .room-details .sidber-details .img-box img{
    width: 100%;
  }
  .room-details .sidber-details .lower-content{
    position: relative;
    padding: 27px 19px 0px 19px;
  }
  .room-details .sidber-details{
    position: relative;
    padding-right: 53px;
  }
  .room-details .sidber-details .rating{
    display: inline-block;
    float: right;
  }
  .room-details .sidber-details .room-title{
    display: inline-block;
    margin-bottom: 7px;
  }
  .room-details .sidber-details .lower-content .button{
    display: inline-block;
  }
  .room-details .sidber-details .lower-content .price{
    position: relative;
    display: inline-block;
    float: right;
  }
  .room-details .sidber-details .lower-content p{
    line-height: 28px;
    margin-bottom: 27px;
    padding: 0px 10px 0px 0px;
  }
  .room-details .sidber-details .lower-content .price .text{
    position: relative;
    font-size: 30px;
    font-family: 'Ek Mukta',sans-serif;
    line-height: 36px;
    color: #c9a76e;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .room-details .sidber-details .lower-content .price h5{
    position: relative;
    font-size: 15px;
    font-family: 'Ek Mukta',sans-serif;
    color: #777;
    line-height: 26px;
  }
  .room-details .catagoris .icon-holder .text{
    text-align: center;
  }
  .room-details .room-catagories{
    margin-bottom: 58px;
  }
  .room-details .question-form input,
  .room-details .question-form textarea{
    position: relative;
    width: 100%;
    height: 45px;
    background: #fafafa;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #fafafa;
    transition: all 500ms ease;
  }
  .room-details .question-form input:focus,
  .room-details .question-form textarea:focus{
    border-color: #af8a4d;
    transition: all 500ms ease;
  }
  .room-details .question-form textarea{
    height: 140px;
    resize: none;
    margin-bottom: 34px;
  }
  .room-details .sidber-details .lower-content .button{
    margin-top: 6px;
  }
  .room-details .sidber-details .lower-content .btn-one{
    padding: 8px 35px;
  }
  .room-details .catagoris .icon-holder {
      margin: 0px 16px 0px 0px;
  }
  .room-details .question-form .title h3{
    position: relative;
    margin-bottom: 68px;
  }
  .room-details .question-form .title h3:before {
    position: absolute;
    content: '';
    background: url(../images/rooms/room-title.png);
    background-repeat: no-repeat;
    left: 0px;
    bottom: -26px;
    width: 44px;
    height: 5px;
    z-index: 1;
  }
  .room-details .sidber-catagories .single-input {
      position: relative;
  }
  .room-details .sidber-catagories .single-input i {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
  }
  .room-details .sidber-catagories .single-input input {
      width: 100%;
      position: relative;
      height: 47px;
      padding: 20px;
      border: 1px solid #ededed;
      border-radius: 5px;
      margin-bottom: 14px;
  }
  .room-details .sidber-catagories{
    position: relative;
    margin-left: -31px;
  }
  .room-details .sidber-catagories .sidber-title{
    position: relative;
    font-size: 30px;
    font-family: 'Vollkorn',sans-serif;
    line-height: 36px;
    color: #333;
    font-style: italic;
    margin-bottom: 25px;
  }
  .room-details .sidber-catagories a.btn-one{
    display: block;
    margin-top: 6px;
  }
  .room-details .sidber-catagories .sidber-post{
    position: relative;
  }
  .room-details .sidber-catagories .sidber-post .single-item{
    position: relative;
    padding: 0px 0px 64px 165px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #ececec;
  }
  .room-details .sidber-catagories .sidber-post .single-item:last-child{
    border-bottom: none;
  }
  .room-details .sidber-catagories .sidber-post .single-item .img-box{
    position: absolute;
    left: 0px;
    top: 6px;
  }
  .room-details .sidber-catagories .sidber-post .single-item h5{
    margin-bottom: 0px;
  }
  .room-details .sidber-catagories .sidber-post .single-item h5 a{
    position: relative;
    font-size: 16px;
    font-family: 'Vollkorn',sans-serif;
    line-height: 28px;
    font-style: italic;
    color: #333;
  }
  .room-details .sidber-catagories .sidber-post .single-item h5 a:hover{
    color: #c9a76e;
  }
  .room-details .sidber-catagories .sidber-post .single-item .text{
    position: relative;
    display: inline-block;
    font-size: 35px;
    font-family: 'Niconne',sans-serif;
    line-height: 40px;
    color: #333;
  }
  .room-details .sidber-catagories .sidber-post .single-item .text h5{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-family: 'Vollkorn',ss;
    line-height: 28px;
    font-style: italic;
    color: #bdbdbd;
  }
  .room-details .sidber-catagories .form-area{
    margin-bottom: 68px;
  }
  .rooms-section .rating li {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    font-size: 13px;
    color: #c9a76e;
  }  